@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: #f1f3f6;
}

.plus a {
    text-decoration: none;
}

.plus a:hover {
    text-decoration: underline;
}

:root {
    --primary-colour: #2874f0;
}

.container {
    padding: 0 8px;
}

/* Header */

header {
    background-color: var(--primary-colour);
    height: 56px;
}

header .nav-container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}

.logo {
    width: 100px;
    position: relative;
    top: 2px;
}

.logo img {

    width: 80%;
}

.plus {

    width: 80%;
    display: flex;
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    height: 100%;
    position: relative;
    top: -2px;
}

.plus p {
    margin: 0;
    color: #f0f0f0;
    font-size: 11px;
    font-weight: 550;
    font-style: italic;
}


.plus a {
    display: flex;
    color: #f0f0f0;
}

.plus img {
    width: 10px;
    height: 10px;
    margin: 0;
}

.plus-icon {

    color: #ffe500;

}

header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

header .search .search-container {
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(red, green, blue / 23%);
    display: flex;
}

header .search .search-container input {
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}

header .search .search-container .recent_search {
    position: absolute;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba (0, 0, 0, 0.1);
    height: 393px;
    width: 540px;
    top: 46px;
    border-top: 1px solid #ccc;
    display: none;
    z-index: 10;
}

header .search .search-container:focus-within .recent_search {
    display: block;
}

header .search .search-container:focus-within .recent_search .recent_list p {
    display: flex;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 10px;
}

header .search .search-container button {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

header .login {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

header .login button {
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-colour);
}

header .login .login_menu {
    position: absolute;
    top: 60px;
    height: 350px;
    width: 100%;
    width: 280px;
    background-color: white;
    margin-right: -40px;
    transform: translateX(-30%);
    display: none;
    padding-top: 20px;
    z-index: 12;


}

header .login .login_menu::before {
    position: absolute;
    content: "";
    margin-left: 135px;
    top: -14px;
    border-top: 0px solid red;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;


}

header .login:hover .login_menu {
    display: block;
    
}

header .login .login_menu .login_menu_list {
    max-height: 100%;
    height: 100%;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba (0, 0, 0, 0.1);
    padding: 5px 20px;
    font-size: 15px;

}

header .login .login_menu .login_menu_list .login_menu_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

header .login .login_menu .login_menu_list .login_menu_top a {
    text-decoration: none;
}

header .login .login_menu .login_menu_list .login_menu_top:hover a {
    text-decoration: underline;
}

header .become-seller {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

header .more {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

header .more svg {
    margin-left: 8px;
    rotate: -90deg;
    transition: transform 0.5s;
}

header .more svg:hover {
    transform: rotate(-180deg);
}


header .cart {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;


}

header .cart svg {
    margin-right: 8px;
}

/************feature products****************/

.main {
    width: 100%;
    height: 122px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.main_container {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_item {
    height: 20px;
    display: flex;
    flex: content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}
.main_item:hover{
    color: #2874f0;
}

.main_item img {
    width: 64px;
    height: 64px;
}

.main_item_txt {

    height: 100%;
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main_item svg {
    display: flex;
    align-items: center;
    cursor: pointer;
    rotate: -90deg;
    transition: transform 0.3s;
    padding: 5px 5px;
}

.main_item:hover svg{
    transform: rotate(-180deg); 
}

.main_item:hover svg path{
    fill: #2874f0;
}

/*************ImageSlider************/

.imageSliderContainer {
    position: relative;
    background-color: #f1f3f6;
    height: 280px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imageSliderButton {
    position: absolute;
    z-index: 10;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 75px;

}

.imageSliderButton button {
    padding: 30px 12px;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    border-radius: 5px;
    z-index: 13;
}
.imageSliderButton button:nth-child(odd){
    border-radius: 0px 3px 3px 0px;
}

.imageSliderButton button:nth-child(even){
    border-radius: 3px 0px 0px 3px;
}

.imageSliderButton .rightbutton {
    transform: rotate(-180deg);
    
}

.imageSliderList {
    position: absolute;
    top: 12px;
    position: absolute;
    z-index: 8;
    padding-left: 20px; 
    width: 99%;
    height: 95%;
    display: flex;
    overflow: hidden;

}

.imageSliderItem {
    min-width: 99%;
    width: 100%;
    max-width: 99%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s;

}

.imageSliderItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**********************All the best electronics***********/

.bestofElectronic_Contianer{
    width: 99%;
    height: 310px;
    background-color: whitesmoke;
    display: flex;
    overflow: hidden;
    
}
.bestofElectronicmoreOption{
    height: 100px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    
}
.bestofElectronicmoreOption img{
    height: 100%;
    width: 100%;
}
.BestofElectronic_item{
    background-color: white;
    min-width: 210px;
    max-width:210px ;
    height: 310px;
    position: relative;
    display: flex;    
    align-items: center;
    flex-direction: column;
    
}
.viewAllBtn{
    background-color: #2874f0;
    padding: 6px 16px;
    border-radius: 3px;
    color:white;
    font-size: 15px;
    text-decoration: none;
}
.bestofElectronic_bigText{
    font-size: 30px;
    text-align: center;
    margin:60px 0px 30px 0px;
}
.bestofElectronic_list{
    display: flex;
}
.bestOfElectornic_image_Product{
    height: max-content;
    text-align: center;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}
.bestOfElectornic_image_Product img{
    width: 90%;
    max-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bestOfElectornic_image_Product:hover img{
    transform: scale(1.1);
}
.bestofElectornicProduct_name{
    font-size: 12px;
    padding: 5px;
    letter-spacing: 0.5px;
}
.bestofElecronic_discount{
    color:#388e3c;
}
.bestofElectronic_brand{
    color:rgb(143, 136, 136);
}


.bestofElctronic_product_item{
    display: flex;
    overflow: hidden;
}
.bestofElectronic_brand{
    font-size: 12px;
    padding-top: 7px;
}
.bestofElectornicProduct_name{
    color:#000;
}
.footercontainer {
    width: 100%;
    height: 300px;
    background-color: #172337;
    margin: 0 auto;
    padding-top: 35px;
}
.links {
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}
.links:hover {
    text-decoration: underline;
}
.footerhead{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}
.about{
    width:300px;
    height:250px;
}
.footercontainer1{
    margin:0 auto;
    width:90%;
    height:250px;   
    display: flex; 
}
.mailtous{
    border-left: 1px solid #454d5e;
    padding: 0 25px;
}
.footernav{
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 14px;
}

.footernav a,img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.span_font{
    color: white;
    margin-left: 8px;
}
.basecontainer{
    background-color: #172337;
    
}
.links1{
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}
/************Popup****************/
.popupcontainer{
    display: block;
}

.popuplogin{
    pointer-events: auto;
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    z-index: -12;
    outline: none;
    transition: opacity .2s ease,
                z-index 0s ease;    
}
.popuplogin.active{
    opacity: 1;
    z-index: 12;
    transition: opacity .2s ease,  
                z-index 0s ease;
}

.popuplogin1{
    outline: none;
    position: relative;
    display: flex;
}
.buttonclass1{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    border-radius: 2px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    outline: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.login1{
    width: 650px;
    max-width: 90%;
    height: 500px;
    max-height: 90vh;
    background: #fff;
    border-radius: 4px;
    margin: 0 auto;
    overflow: auto;
}
.login2{
    display: flex;
}
.sub1{
    background-color: #2874f0;
    color: #fff;
    padding: 40px 33px;
    font-size: 15px;
    width: 175px;
    height: 420px;
}
.login_font{
    font-size: 28px;
    font-weight: 500;
}
.para_style{
    font-size: 18px;
    margin-top: 16px;
    line-height: 150%;
    color: #dbdbdb;
}
.sub1 img{

    padding-top: 175px;
    margin:-24px;
}
.enter_mobile{
    position: relative;
    margin-bottom: 34px;
    font-size: 16px;
    top: 25px;
    width:80%;
    margin-left: 25px;
    margin-top: 20px;
}
.input_mobile{
    padding: 8px 10px 10px 0;
    width: 100%;
    color: #000;
    font-size: inherit;
    background: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #e0e0e0;
}

.enter_num{
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translateY(10px);
    transform-origin: left;
}
.terms_policy{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 55px;
}
.terms{
    color: #2874f0;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.Reqst_otp{
    margin-top: 16px;
}
.otp_btn{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    width: 200px;
    height: 48px;
    font-size: 15px;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    margin:60px
}
.create_ac{
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
    color: #212121;
    pointer-events: auto;
    margin-left: 235px;
}
.new_acc{
    text-decoration: none;
    color: #2874f0;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1.4;
    font-size: 14px;
}
/**************logindrop**************/
.loginul{
    border-top: 1px solid #f0f0f0;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #212121;
}
.loginli{
    border-bottom: 1px solid #f0f0f0;
    list-style: none;
}
.loginli a{
    display:flex;
    align-items: center;
    width: 100%;
    padding: 16px 20px!important;
    text-decoration: none;
}
.loginli svg{
    width:16;
    height: 16;
}
.logincat{
    text-transform: none;
    margin-left: 12px;
    cursor:pointer;
    color: #000;
}
